.filter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 85px;
}
.filter-button {
  background-color: rgb(105,101,121);
  width: 175px;
  height:55px;
  font-family: helvetica;
  font-size: 14px;
  color:rgb(255,255,255);
  text-transform: uppercase;
  text-align: center;
  border: 0px;
}
.filter-button:hover {
  background-color: rgb(253,236,202);
  color:rgb(82,72,93);
  font-weight:600;

}
.filter-button-clicked {
  background-color: rgb(253,236,202);
  width: 175px;
  height:59px;
  font-family: helvetica;
  font-size: 14px;
  font-weight:600;
  color:rgb(82,72,93);
  text-transform: uppercase;
  text-align: center;
}

@media (max-width: 800px){
  .filter-container {
    margin-top: 87px;
  }
  .filter-button {
    width: 140px;
    height:44px;
    font-size: 14px;
  }
  .filter-button:hover {
    background-color: rgb(253,236,202);
    color:rgb(82,72,93);
    font-weight:600;

  }
  .filter-button-clicked {
    width: 140px;
    height:48px;
    font-size: 14px;
    font-weight:600;
    color:rgb(82,72,93);
  }
}
