.hero {
  flex-direction: column;
  width: 100%;
  height:425px;
  margin: 0px;
  background-image: url('./images/hero-image.png');
  background-size: cover;
}
.greeting {
  text-align: center;
  width: 535px;
  margin: 0 auto;
  color: rgb(255,255,255)
}
h1 {
  /* TODO: double check distance between this and the header looks a little low*/
  font-size: 44px;
  font-family: georgia;
  margin-bottom: 20px;
}
p {
  margin: 0px;
  font-size:18px;
  font-family: helvetica;
  line-height: 1.25;
}

/* ipad media query */
@media (max-width: 800px) {
  .hero {
    width: 100%;
    height:325px;
  }
  .greeting {
    width: 500px;
  }
  h1 {
    font-size: 30px;
  }
  p {
    font-size:14px;
  }

}

/* phone  media query */

@media (max-width: 400px) {
  .hero {
    width: 100%;
    height:325px;
  }
  .greeting {
    width: 300px;
  }
  h1 {
    font-size: 30px;
    margin-bottom:15px;
  }
  p {
    font-size:14px;
  }
}
